@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

.pl-0 {
	padding-left: 0 !important;
}


/* home page design start */

/* header area css start */
.body-background {
	background: url('images/background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
}

.home-page {
	padding-top: 50px;
}

.site-logo a img {
	width: 100%;
}

.mobile-menu-icon {
	display: none;
}

.site-menu-bar ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
	text-align: right;
}

.site-menu-bar ul li {
	display: inline-block;
	margin-right: 20px;
}

.site-menu-bar ul li i {
	font-size: 20px;
	display: inline-block;
	margin-right: 5px;
}

.site-menu-bar ul li a {
	color: #000;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	text-transform: capitalize;
	display: inline-block;
	padding: 8px 19px;
	border-radius: 8px;
	background: #fff;
}

.site-menu-bar ul li a:hover, #active {
	background: #EA3965;
	color: #fff;
}
/* header area css end */

/* hero area css start */
.hero-dtls {
	text-align: center;
}

.hero-dtls img {
	max-width: 280px;
	max-height: 280px;
	border-radius: 50%;
	object-fit: cover;
	background: #FFABB8;
	margin-top: 110px;
}

.hero-dtls h2{
	font-size: 26px;
	font-weight: 500;
	margin-top: 26px;
	margin-bottom: 0;
} 

.hero-dtls h4 {
	font-size: 14px;
	font-weight: 500;
	margin-top: 18px;
	margin-bottom: 28px;
}

.social-link {
	margin-bottom: 45px;
}

.hero-dtls .social-link ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.hero-dtls .social-link ul li {
	display: inline-block;
	margin-right: 14px;
}

.hero-dtls .social-link ul li:last-child {
	margin-right: 0;
}

.hero-dtls .social-link ul li a {
	font-size: 20px;
	width: 40px;
	height: 40px;
	background: #f3f6f6;
	border-radius: 8px;
	display: block;
	line-height: 40px;	
}

.fa-twitter {
	color: #1C9CEA;
}

.fa-instagram {
	color:#e12a72
}

.fa-linkedin-in {
	color:#144679;
}

.hero-dtls .social-link ul li a:hover {
	background: #e12a72;
	color: #fff;
}

.hero-dtls .social-link ul li a:hover .fa-twitter,
.hero-dtls .social-link ul li a:hover .fa-instagram,
.hero-dtls .social-link ul li a:hover .fa-linkedin-in {
	color: #fff;
}

.hero-dtls .download {
	font-size: 18px;
	font-weight: 400;
	text-transform: capitalize;
	color: var(--common-white);
	background: linear-gradient(97deg,#fa5252,#dd2476);
	padding: 12px 30px;
	border-radius: 10px;
	border: 1px solid transparent;
	transition: .3s;
	color: #fff;
	text-decoration: none;
	border-radius: 30px;
	margin-top: 25px;
}

.fa-download {
	margin-right: 5px;
}

/* hero area css end */

/* home page design end */






/* resume page css start */
.area-bg {
	background: #fff;
	padding-top: 60px;
	padding-right: 80px;
	padding-left: 80px;
	margin-top: 80px;
	border-radius: 20px;
}

.row-title {
	height: 115px;

}

.row-title span {
	font-size: 40px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 15px;
	text-transform: capitalize;
	position: relative;
	
}

.row-title span::after {
	content: '';
	display: block;
	clear: both;
	position: absolute;
    width: 200px;
    height: 3px;
    background-color: #fa5252;
    left: 122%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    margin-bottom: 30px;
}

.margin-bottom {
	padding-bottom: 50px;
}

/* education experiance award area css start */

.educations,
.experiance {
	margin-top: 20px;
}

.education-column h4 {
	font-size: 26px;
	font-weight: 600;
}

.education-column h4 i {
	margin-right: 10px;
	color: #fa5252;
}

.single-education-1,
.single-education-3 {
	background: #FFF4F4;
	border-radius: 12px;
  	padding: 25px 20px 20px;
}

.single-education-2 {
	background: #EEF5FA;
	border-radius: 12px;
  	padding: 25px 20px 20px;
}

.single-education-1 h4,
.single-education-2 h4,
.single-education-3 h4 {
	font-size: 16px;
	font-weight: 500;
	margin-top: 0;
}

.single-education-3,
.single-experiance-3 {
	margin-bottom: 20px;
}

.ecperiance-column h4,
.award-column h4 {
	font-size: 26px;
	font-weight: 500;
	text-transform: capitalize;
}

.ecperiance-column h4 i,
.award-column h4 i {
	margin-right: 10px;
	color: #fa5252;
}

.single-experiance-1,
.single-experiaactivence-3 {
	border-radius: 12px;
  	padding: 25px 20px 20px;
  	background: #EEF5FA;	
}

.single-experiance-2 {
	border-radius: 12px;
  	padding: 25px 20px 20px;
  	background: #FFF4F4;
}

.single-experiance-1 h4,
.single-experiance-2 h4,
.single-experiance-3 h4 {
	font-size: 18px;
	font-weight: 500;
	margin-top: 0;
}

.single-experiance-3 p {
  margin-bottom: 14px;
}
/* education experiance award area css end */


/* skill area css start */

.skill-knowledges-area {
	padding-top: 70px;
	padding-bottom: 60px;
	background: #F8FBFB;
	border-radius: 20px;
}

.skills-area h4 {
	font-size: 26px;
	font-weight: 500;
}

.single-skil {
	margin-top: 30px;
}

.single-skil h3 {
	font-size: 16px;
	font-weight: 400;
	color: #44566C;
	text-transform: capitalize;
}

.skill-bg {
	height: 6px;
	border-radius: 6px;
	background: #EDF2F2;
}

.skill-clr {
	height: 6px;
	border-radius: 6px;
	position: relative;
	animation: fillBars 3s 1;
}

.skill-clr::before {
	content: attr(per);
	position: absolute;
	right: 0;
	top: -30px;
	transform: translateX(50%);
}

@keyframes fillBars {
	from{
		width: 0;
	}
	to{
		width: 100%;
	}
}


.my-knowledge h4 {
	font-size: 26px;
	font-weight: 500;
}

.my-knowledge ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
	margin-top: 30px;
}

.my-knowledge ul li {
	display: inline-block;
	margin: 0 10px 20px 0;
}

.my-knowledge ul li a {
	font-size: 16px;
	padding: 5px 20px;
	font-weight: 400;
	text-decoration: none;
	text-transform: capitalize;
	color: #44566C;
	display: block;
	background: #EDF2F2;
	border-radius: 8px;
}

.copy-right {
	padding: 25px 0;
}

.copy-right p {
	margin: 0;
	color: #44566C;
	font-size: 16px;
	font-weight: 400;
}

/* skill area css end */

/* resume page css end */


/* about page style start */

/* about area css start */
.about-area {
	margin-top: 100px;
}

.main-about-storage {
	padding-right: 80px;
	padding-left: 80px;
	padding-top: 60px;
	background: #fff;
	border-radius: 20px;
}

.page-title h2 {
	font-size: 40px;
	font-weight: 700;
	color: #000000;
	position: relative;
	display: inline-block;
	margin-bottom: 55px;
}

.page-title h2::after {
	content: "";
  position: absolute;
  width: 200px;
  height: 3px;
  background-color: #F54A59;
  left: 122%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  margin-bottom: 30px;
}

.detls-area {
	padding-bottom: 80px;
}

.img-thumbnail {
	background: #80DCE2 !important;
	border-radius: 30px !important;
	height: 400px;
	width: 100%;
}

.about-me-detls h4 {
	font-size: 26px;
	font-weight: 500;
	text-transform: capitalize;
	color: #000;
	margin-bottom: 11px;
}

.about-me-detls p {
	font-size: 16px;
	font-weight: 400;
	color: #44566C;
}

.about-me-detls span {
	font-size: 16px;
	font-weight: 400;
	color: #44566C;
	margin-bottom: 16px;
	display: block;
}

.area-title h3 {
	font-size: 28px;
	font-weight: 500;
	color: #000;
	margin-bottom: 15px;
}

.info span {
	font-size: 12px;
	font-weight: 400;
	color: #44566C;
}

.info p {
	font-size: 16px;
	font-weight: 400;
	color: #000;
}

.icon i {
	width: 44px;
	height: 44px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0 4px 6px rgba(0,0,0,.08);
	text-align: center;
	line-height: 44px;
	cursor: pointer;
	font-size: 22px;
	color:  #E93B81;
	margin-right: 10px;
}

/* what i do area css start */
.what-i-do-area {
	padding-bottom: 50px;
}

.what-i-do-area h2 {
	font-size: 40px;
	text-transform: capitalize;
	font-weight: 500;
	color: #000;
}

.single-do {
	background: #FFF4F4;
	padding: 20px 20px 15px;
	border-radius: 20px;
	margin-top: 30px;
}

.single-do-img {
	width: 20%;
}

.single-do-text {
	width: 80%;
}

.single-do-img img {
	width: 100%;
	height: 45px;
	display: block;
	text-align: left;
	margin-left: -10px;
}

.single-do-text h4 {
	font-size: 20px;
	font-weight: 500;
}

.single-do-text p {
	font-size: 16px;
	font-weight: 400;
	color: #44566C;
	text-align: justify;
}

.change-bg {
	background: #EEF5FA !important;
}

/* what i do area css end */

/* about area css end */

/* about page style end */



/* work page css start here */
.filter-menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
	text-align: right;
}

.filter-menu {
  margin-bottom: 30px;
}

.martop {
  margin-top: -25px;
}

.marginbtm {
	margin-bottom: 20px;
}

.filter-menu ul li {
	display: inline-block;
}

.filter-menu ul li a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	color: #44566C;
	margin: 0 18px;
}

.filter-menu ul li a:hover {
	color: #FA5252;
}

.filter-menu ul li:last-child {
	margin-right: 0!important;
}

.single-work, .single-blog {
	background: #FFF4F4;
	padding: 20px;
	border-radius: 12px;
}

.single-work img,
.single-blog img {
	max-width: 100%;
	overflow: hidden;
	transition: 0.1s;
}

.single-work img:hover,
.single-blog img:hover {
	transform: scale(1.2);
}

.single-work span {
	color: #44566C;
	font-size: 12px;
	font-weight: 400;
}

.single-work h4 {
	font-size: 16px;
	font-weight: 400;
}

.overflow-hidden {
	border-radius: 12px;
	margin-bottom: 17px;
}

.single-bg {
	background: #EEF5FA;
}

.footerbg {
	background: #F8FBFB;
}
/* work page css start end */




/* blog page css start */
.single-blog {
	margin-bottom: 30px;
}

.single-blog ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.single-blog ul li {
	display: inline-block;
	color: #44566C;
	font-size: 14px;
	font-weight: 400;
}

.single-blog ul li span {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	display: block;
	background: #44566C;
}

.single-blog h3 {
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;
	font-family: Poppins,sans-serif;
	margin-bottom: 15px;
}

.blog-bg {
	background: #EEF5FA !important;
}

.slider-dots {
	width: 100%;
	text-align: center;
}

.slider-dots span {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #FA5252;
	cursor: pointer;
}

/* #active {
	width: 12px;
	height: 12px;
	background: #FA5252;
} */

.home-page {
	padding-bottom: 100px;
}

/* blog page css end */



/* contact page css start */
.contact-area {
  padding-bottom: 50px;
}

.single-contact {
	background: #FFF4F4;
	padding: 30px;
	border-radius: 10px;
}

.single-contact {
	display: flex;
	flex-wrap: wrap;
}

.contact-icon	{
	width: 20%;
}

.contact-icon img {
	width: 40px;
	height: 40px;
}

.contact-info {
	width: 80%;
}

.contact-info h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}

.contact-info p {
	color: #44566C;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 0;
	max-width: 100%;
}

.contact-info span {
	color: #44566C;
	font-size: 18px;
	font-weight: 400;
}

.pad-left {
	padding-left: 0;
}

.contact-form {
	padding: 60px 45px;
	border-radius: 20px;
	background: #F8FBFB;
}

.form-title h5 {
	font-size: 25px;
	color: #44566C;
	font-weight: 400;
	margin-bottom: 13px;
	text-transform: capitalize;
}

.form-title h4 {
	font-size: 25px;
  font-weight: 700;
  text-transform: lowercase;
  margin-bottom: 45px;
}

label {
	position: relative;
	color: #44566C;
	font-size: 16px;
	font-weight: 500;
}

label::after {
	position: absolute;
	content: "*";
	display: inline-block;
	clear: both;
	color: #44566C;
	left: 110%;
}

input, textarea {
	display: block;
	width: 100%;
	border-top: none;
	border-left: none;
	border-right: none;
	background: transparent;
	height: 25px;
}

input:focus, textarea {
	outline: none;
}

input[type=submit] {
	font-size: 16px;
	font-weight: 500;
	display: inline-block;
	text-transform: capitalize;
	color: #1a1a1a;
	height: 50px;
	width: 133px;
	border: 1px solid #44566c;
	border-radius: 12px;
	transition: 0.3s;
}

input[type=submit]:hover {
	background: #E22B70;
	border: 1px solid #E22B70;
	color: #fff;
}

.form-input {
	margin-bottom: 60px;
}
/* contact page css end */

.contact-social-link {
	margin-top: auto;
}

.contact-social-link ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	text-align: center;
}

.contact-social-link ul li {
	display: inline-block;
	margin-right: 14px;
	text-align: center;
}

.contact-social-link ul li:last-child {
	margin-right: 0;
}

.contact-social-link ul li a {
	font-size: 20px;
	width: 40px;
	height: 40px;
	background: #f3f6f6;
	border-radius: 8px;
	display: block;
	line-height: 40px;	
}

.fa-square-whatsapp {
	color: #1B8755;
}

.fa-skype {
	color: #0093D3;
}

.toggle-menu {
	display: none;
}

.toggle-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	padding-top: 15px;
}

.toggle-menu ul li {
 	color: #fff;
	margin-bottom: 15px;
}

.toggle-menu ul li:last-child {
	margin-bottom: 0;
}

.toggle-menu ul li a {
	color: #000;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	text-transform: capitalize;
}

.toggle-menu ul li a i {
	display: none;
}